.App {
  text-align: center;
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 18px;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  opacity: .7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-bar.space-between {
  justify-content: space-around;
}
.nav-bar a {
  text-decoration: none;
  /* font-family: "Noto Sans Georgian", sans-serif; */
  /* border: 3px solid white; */
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
/* .nav-about::before:hover {
  content: "「";
}
.nav-about::after:hover {
  content: "」";
} */
a {
  color: white;
}
.about a {
  color: black;
}
.logo {
  width: 20%;
  float: left;
  max-width: 15rem;
}
.nav-bar a:hover {
  transition: 1s;
}
.home-image {
  background-image: url("./images/about-teacher.png");
}
.home-image, .about-image, .client-work-image {
  background-size: cover;
  background-position: top;
  color: white;
  padding: 15rem 0 15rem 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.home-image {
  background-position: center;
}
.home-image p, .home-image h1, .about-image h1 {
  padding: 0 2rem 0 2rem;
}
.home-image h1, .about h1, .client-work-image h1 {
  animation: fadeIn;
  animation-duration: 4s;
}
.p1 {
  animation: fadeIn;
  animation-duration: 6s;
}
.p2 {
  animation: fadeIn;
  animation-duration: 9s;
}
.p3 {
  animation: fadeIn;
  animation-duration: 13s;
  /* color: #6AABD2; */
  color: #446FA0;
  font-size: 1.5rem;
  padding-top: 2rem;
}
.home-intro {
  padding: 3rem;
  background-color: #D9E4EC;
}
.expertises {
  background-color: #446FA0;
  padding: 3rem 0 3rem 0;
}
.expertises h4 {
  text-align: left;
  padding-left: 2rem;
  color: #D9E4EC;
}
.expertise {
  padding: 0 3rem 0 3rem;
}
.publications {
  padding: 3rem 0 3rem 0;
  background-color: #D9E4EC;
}
.tides-container {
  padding-top: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.tides-cards {
  /* background-color: #223C60; */
  /* background-color: #51555B; */
  background-color: #385E72;
  border-radius: 2rem;
  width: 18rem;
}
.tides-image {
  width: 18rem;
  /* max-width: 18rem; */
}
.tides-text {
  color: #D9E4EC;
  padding: .5rem;
}
.about {
  background-color: #D9E4EC;
}
.about-section {
  padding-bottom: 3rem;
}
.about-image {
  background-image: url("./images/client-work-crop.png");
}
.home h3, .about h3 {
  text-align: left;
}
.home h3 {
  color: #223C60;
  padding-left: 1rem;
}
/* .home h4 {
  text-align: left;
  padding-left: 2rem;
  color: #D9E4EC;
} */
.about-image p {
  padding: 0 4rem 0 4rem;
}
.about-p2 {
  padding: 3rem;
}
.expertise p, .bio-text p {
  text-align: left;
  padding: 0 4rem 0 4rem;
}
.bio-text a {
  font-weight: bold;
}
.bio-text a:hover {
  text-decoration: none;
}
.bullet {
  text-align: center;
}
.bio {
  padding: 3rem 3rem 3rem 3rem;
}
.media-container {
  background-color: #51555B;
  width: 30rem;
  height: 27rem;
  border-radius: 2rem;
  margin: auto;
  display: flex;
}
.bio-pic {
  width: 18rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.downloads h3 {
  padding: 0 0 3rem 4rem;
}
.download-links {
  padding: 3rem;
}
.download-links a {
  color: #D9E4EC;
}
.download-links a:hover {
  text-decoration: none;
}
.client-work-image {
  background-image: url("./images/group-class.jpg");
}
.clients {
  padding-top: 3rem;
  background-color: #D9E4EC;
}
/* .clients h3:nth-child(odd) {
  padding-left: 2rem;
  color: black;
}

.clients img:nth-child(odd) {
  float: left;
  padding: 0 1rem 0 2rem;
}

.clients h3:nth-child(even) {
  padding-right: 2rem;
  color: #D9E4EC;
}

.clients img:nth-child(even) {
  float: right;
  padding: 0 2rem 0 1rem;
} */
.client-even h3, 
.client-even h3, 
.client-even img, 
.client-even img{
  padding-left: 2rem;
}
.client-odd h3,
.client-odd img {
  padding-right: 2rem;
  color: #D9E4EC;
}
.clients p {
  padding: 0 4rem 2rem 4rem;
}
.description {
  color: #446FA0;
  font-weight: bold;
  text-align: left;
}
.description:last-child {
  padding-bottom: 3rem;
}
.quote {
  padding-bottom: 3rem;
}
.date-odd {
  text-align: right;
}
.date-even {
  text-align: left;
}
.clients img {
  width: 18rem;
  padding-right: 1rem;
}
.aids-logo, .lookout-logo {
  float: left;
}
.humanity-section {
  background-color: #385E72;
}
.humanity-section .description {
  color: #D9E4EC;
}
.humanity-logo {
  float: right;
}
.us-aid {
  border-radius: .5rem;
}
.bio-text img {
  width: 10rem;
}
.home-image p, .about-image p, .client-work-image p {
  text-align: center;
}
.footer {
  width: 80%;
  margin: auto;
  padding: 3rem 0 3rem 0;
}
.copy-inline {
  display: flex;
}
.copyright {
  /* text-align: left; */
  display: inline-block;
}
.contact-link {
  display: inline-block;
  margin: 1rem 0 0 12rem;
  width: 8rem;
  height: 2rem;
}
.contact-button:hover {
  cursor: pointer;
}
.contact-button {
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 1.2rem;
  letter-spacing: .1em;
  /* width: 8rem;
  height: 2rem; */
  padding: .8rem;
  width: auto;
  height: auto;
  background-color: #385E72;
  color: #B7CFDC;
  border: none;
}
.contact-button:hover {
  background-color: #5e9cbd;
}
@media screen and (min-width: 800px) {
  .expertise {
    display: flex;
  }
  .tides-container {
    gap: 8rem;
  }
}
@media screen and (min-width: 1200px) {
  .about-image {
    background-position: center;
  }
}
@media screen and (max-width: 800px) {
  .nav-bar a {
    padding: .5rem;
    font-size: 2.5vw;
  }
  .logo {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    width: 6rem;
  }
  /* .space-between {
    flex-direction: column;
  } */
  a {
    font-size: 2vw;
  }
  h1, h3 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
  p {
    font-size: 2vw;
  }
  .p3, h4 {
    font-size: 3vw;
  }
  /* .about-image {
    padding: 5rem 0 5rem 0;
  } */
  .client-work-image {
    background-position: right;
  }
  .tides-cards, .tides-image {
    width: 12rem;
  }
  .media-container {
    width: 18rem;
    height: 18rem;
  }
  .download-links {
    padding: 1rem;
  }
  .bio-pic {
    width: 12rem;
  }
  .contact-button {
    font-size: 2vw;
  }
}