.App {
  text-align: center;
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 18px;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  opacity: .7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-bar.space-between {
  justify-content: space-around;
}
.nav-bar a {
  text-decoration: none;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: bold;
  /* border: 3px solid white; */
  padding: 1rem;
}
a {
  color: white;
}
.about a {
  color: black;
}
.logo {
  width: 20%;
  float: left;
  max-width: 15rem;
}
.nav-bar a:hover {
  color: grey;
  border-color: grey;
  transition: 1s;
}
.home-image {
  background-image: url("./images/about-teacher.png");
}
.home-image, .about-image, .client-work-image {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 15rem 0 15rem 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.about-image {
  /* padding: 12rem 0 12rem 0; */
  background-position: top;
}
.home-image p, .home-image h1, .about-image h1 {
  padding: 0 2rem 0 2rem;
}
.home-image h1, .about h1, .client-work-image h1 {
  animation: fadeIn;
  animation-duration: 4s;
}
.p1 {
  animation: fadeIn;
  animation-duration: 6s;
}
.p2 {
  animation: fadeIn;
  animation-duration: 9s;
}
.p3 {
  animation: fadeIn;
  animation-duration: 13s;
  color: #6AABD2;
  font-size: 1.5rem;
  padding-top: 2rem;
}
.home-intro {
  padding: 3rem;
}
.expertises {
  background-color: #446FA0;
  padding: 3rem 0 3rem 0;
  border-radius: 2rem;
}
.expertises h4 {
  text-align: left;
  padding-left: 2rem;
  color: #D6DDE0;
}
.expertise {
  padding: 0 3rem 0 3rem;
}
.publications {
  padding: 3rem 0 3rem 0;
}
.tides-photos {
  display: flex;
}
.tides {
  /* width: 25%; */
  max-width: 18rem;
}
.about-image {
  background-image: url("./images/client-work.png");
}
.home h3, .about h3 {
  text-align: left;
}
.home h3 {
  color: #223C60;
  padding-left: 1rem;
}
/* .home h4 {
  text-align: left;
  padding-left: 2rem;
  color: #D6DDE0;
} */
.about-image p {
  padding: 0 4rem 0 4rem;
}
.about-p2 {
  padding: 3rem;
}
.expertise p, .bio-text p {
  text-align: left;
  padding: 0 4rem 0 4rem;
}
.bullet {
  text-align: center;
}
.bio-downloads {
  display: flex;
  justify-content: space-evenly;
}
.bio-downloads a {
  color: black;
}
.bio {
  display: flex;
  padding: 4rem;
  gap: 5rem;
}
.bio-pic {
  width: 20%;
  transition: 6s;
  padding: 0 2rem 0 2rem;
}
.bio-pic:hover {
  filter: grayscale(100%);
}
.bio-pic2 {
  border-radius: 4rem;
}
.downloads h3 {
  padding-left: 4rem;
}
.download-links {
  display: flex;
  align-items: center;
}
.download-links a:hover {
  text-decoration: none;
}
.bio-text2{
  padding-top: 10rem;
}
.client-work-image {
  background-image: url("./images/bridge-waves.jpg");
}
.clients {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 2rem;
  background-color: #F8DEB6;
  /* background-color: #23190B; */
  color: #23190B;
  /* color: #F8DEB6; */
}
.client {
  border-bottom: 1px solid black;
  width: 90%;
}
.clients img {
  width: 18rem;
}
.us-aid {
  border-radius: .5rem;
}
.bio-text img {
  width: 10rem;
}
.home-image p, .about-image p, .client-work-image p {
  text-align: center;
}
@media screen and (min-width: 800px) {
  .expertise {
    display: flex;
  }
  .tides {
    padding: 3rem 5rem 3rem 5rem;
  }
}
@media screen and (max-width: 800px) {
  .nav-bar a {
    padding: .5rem;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
  }
  .nav-bar.space-between {
    flex-direction: column;
  }
  a {
    font-size: 2vw;
  }
  h1, h3 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
  p {
    font-size: 2vw;
  }
  .p3, h4 {
    font-size: 3vw;
  }
  .bio {
    display: block;
  }
  .bio-text2 {
    padding-top: 0;
  }
  ul {
    width: 95%;
  }
  .tides {
    width: 30%;
  }
}